<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<title>footer</title>
 </head>
 <body>
	<div th:fragment="adminFooter" class="container-fluid">
		<div class="row">
		    <div class="col-md-12">
		        <div class="copyright">
		            <p>Copyright © 2020 Internship. All rights reserved. Developed by <a href="#">GIC Myanmar</a>.</p>
		        </div>
		    </div>
		</div>

	</div>
 </body>
</html>
