<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="common/admin_layout">
<head>
<meta charset="ISO-8859-1">
<title>Medicine Information</title>
<style>
		.hidden {
			display: none;
		}
		.modal-backdrop {
		  z-index: -1;
		}
	</style>
</head>
<body>
 
<div class="col-lg-12" layout:fragment="content">
	
	<div id="dis">
	<p id="errorMsg" th:if="${errormsg != null}" th:text="${errormsg}" class="sufee-alert alert with-close alert-danger alert-dismissible fade show"></p>
	<p id="successMsg" th:if="${msg != null}" th:utext="${msg}" class="sufee-alert alert with-close alert-success alert-dismissible fade show"></p>
	 </div>
	 <div id="deletecheck" class="alert alert-danger hidden" data-alert="alert" style="top: 0">
		<button class="float-right" onmouseover="hidden()" onclick="closing()">&times;</button>
		<p id="focusing">
			<strong>Please Check</strong> the check box you want to delete
		</p>
	 </div>	
		
							
			<div class="card">
	          <div class="card-header">
	             <div align="center"><strong>Update Medicine </strong>Information</div>
	          </div>
	          <form th:action="@{${T(pec.datacode.AdminPageInfo).MEDICINE_UPDATE.url}}" method="post" th:object="${medicineInfoDto}" class="form-horizontal">
	          	<div class="card-body card-block">  
	                <div class="row form-group">
	                    <div class="col col-md-3">
	                    <input type="hidden" th:field="*{medicine_info_id}">
	                        <label for="hf-email" class=" form-control-label">Medicine code</label><span class="text-danger">*</span>
	                    </div>
	                    <div class="col-12 col-md-9">
	                        <input type="text" th:field="*{medicine_code}" maxlength="45" class="form-control" disabled>
	                        <span class="help-block" id="medicinecode_msg"></span>
	                    </div>
	                </div>
	                <div class="row form-group">
	                    <div class="col col-md-3">
	                        <label for="hf-email" class=" form-control-label">Medicine type</label><span class="text-danger">*</span>
	                    </div>
	                    <div class="col-12 col-md-9">
	                        <input type="text" th:field="*{medicine_type}" maxlength="45" class="form-control" onchange="clearErrorMsg()">
	                        <span class="help-block" id="medicinetype_msg"></span>
	                    </div>
	                </div>        
	          </div>
	          <div class="card-footer">
	  			<div align="right"> <button type="submit" name="update" class="btn btn-info btn-sm" onmouseover="clearErrorMsg()" onclick="return checkValidate()"><i class="fa fa-dot-circle-o"></i>Update</button>
	          <a th:href="@{${T(pec.datacode.AdminPageInfo).MEDICINE_ADD.url}}">
	           <button type="button" class="btn btn-danger btn-sm" onmouseover="clearErrorMsg()"><i class="fa fa-ban"></i>Cancel</button>
	           </a>
	          </div>
	          </div>
	          
	          </form>
	    
	    </div>
	    

 
			<div class="card">
	          <div class="card-header">
	              <div align="center"><strong>Medicine </strong>Information</div>
	          </div>
	          	<div class="card-body page-wrapper">
              
	                    
	                    	<form th:action="@{${T(pec.datacode.AdminPageInfo).MEDICINE_DELETE.url}}"  method="get" >
	                <!-- delete alert -->
							<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                Confirm Delete
							            </div>
							            <div class="modal-body">
							                Are you sure you want to delete?
							         	</div>
						                <div class="modal-footer">
						                	<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						                	<input type="submit" class="btn btn-danger" value="Proceed">
						            	</div>
						       		</div>
						    	</div>
							</div>
							<!-- end of delete -->    	
	
	                    	
		       	<table id="list" class="table table-borderless table-data3" th:action="@{${T(pec.datacode.AdminPageInfo).MEDICINE_ADD.url}}" th:object="${medicineInfoDto}">
	                            	<thead>
										<tr>
	                                    	<th><input type="checkbox" name="masterCheck"  id="masterCheck"></th>
	                                        <th>No</th>
	                                        <th>Medicine Code</th>
	                                        <th>Medicine Type</th>
	                                        <th>Actions</th>
	                                    
	                                     </tr>
	                                 </thead>
	                                 <tbody>
										<tr th:each="dto, ind: ${medicineList}" class="active">
											<td> <input type="checkbox" name="row-check" id="row-check" th:value="${dto.medicine_info_id}"> </td>
											<td th:text="${ind.count}"></td>
											<td th:text="${dto.medicine_code}"> </td>
											<td th:text="${dto.medicine_type}"> </td>
											<td><ul class="list-unstyled navbar__sub-list js-sub-list"> <li>
								<a th:href="@{${T(pec.datacode.AdminPageInfo).MEDICINE_UPDATE.url}+'/' + ${dto.medicine_info_id}}">
                               <i style="text-decoration:underline;">Edit</i> </a>
                               </li>
                               </ul>
                               </td>
                               </tr>
									</tbody>
								</table>
							
				<div class="card-footer">
	  			<div align="right">
								
								<input type="button" class="btn btn-danger" name="btnDelete" id="btnDelete" onclick="return deleteCheck()" value="Delete" />
								</div>
					</div>
					
			</form>

		     </div>			
		    </div>
		   </div>    
	       
	      <script type="text/javascript" layout:fragment="scriptArea"> 
	      
	      
	      function clearErrorMsg(){	
				document.getElementById("medicine_code").style.borderColor = "";
				document.getElementById("medicinecode_msg").innerHTML = " ";
				
				document.getElementById("medicine_type").style.borderColor = "";
				document.getElementById("medicinetype_msg").innerHTML = " ";
				var errorMsg = document.getElementById("errorMsg");
				var successMsg = document.getElementById("successMsg");
				if(errorMsg != null){
					document.getElementById("errorMsg").style.visibility = "hidden";
					document.getElementById("errorMsg").innerHTML = "";
					document.getElementById("errorMsg").classList.remove("alerterror");
				}
				if(successMsg != null){
					document.getElementById("successMsg").style.visibility = "hidden";
					document.getElementById("successMsg").innerHTML = "";
					document.getElementById("successMsg").classList.remove("alertsuccess");
				}
			
				
			}
			function checkValidate(){	
				var medicinecodeMsg="[[${E000133}]]";
				var medicinetypeMsg="[[${E000134}]]";
				var medicineCode = document.getElementById("medicine_code").value.trim();
				var medicineType = document.getElementById("medicine_type").value.trim();
				 if(medicineType == ""){
					document.getElementById("medicine_type").style.borderColor = "red";
					document.getElementById("medicinetype_msg").innerHTML ="Medicine Type is Required.";
				    return false;
				}
				
				
				else {
					return true;
				}	
			}
	      
	    
			
	   
	     
	      function deleteCheck() {
				
				var total_checked_boxes = $("input:checkbox[name='row-check']:checked").length;
				
				var hidden = $('#upload input[type="hidden"]').length;
				
				var total = total_checked_boxes + hidden;
				console.log("hidden",hidden);
				
				if (total == 0) {
					document.getElementById("deletecheck").style.display = "block";
				$("#deletecheck").fadeIn(2);
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
					return false;
				} else {
					 $('input[name="btnDelete"]').attr("data-toggle", "modal");
					$('input[name="btnDelete"]').attr("data-target", "#confirm-submit");
					 
				}
			}
	      

			
			function closing() {
				document.getElementById("deletecheck").style.display = "none";
				return false;
			}
			
			 var datatbstatus= "[[${data_tb}]]";  
				if(datatbstatus=="save"){
					$(document).ready(function() {
						var table=$('#list').DataTable({
							"lengthMenu" : [ 3, 5, 7, 9, 10 ],
							stateSave: true
						});
					
							$('.active').removeClass('active');
							$('#medicine_info_register').addClass('active');
							
							$(function() {

								$("#btnDelete").on(
										"click",
										function() {
							      var form = this;

							      // Iterate over all checkboxes in the table
							      table.$('input[type="checkbox"]').each(function(){
							    	  
							         // If checkbox doesn't exist in DOM
							         if(!$.contains(document, this)){
							            // If checkbox is checked
							            
							            if(this.checked){
							               // Create a hidden element 
							               $(form).append(
							                  $('<input>')
							                     .attr('type', 'hidden')
							                     .attr('name', this.name)
							                     .attr('id','hid')
							                     .val(this.value)
							               );
							            }
							         } 
							      });
							    
							      deleteCheck();
							      
							   });
							});
						var count=0;
						$(function() {

							// Header Master Checkbox Event
							$("#masterCheck").on(
									"click",
									function() {
										var form = this;
										
										if ($("input:checkbox").prop("checked")) {
											
											table.$('input[type="checkbox"]').each(function(){
											$(this).prop('checked',true);
											console.log(this);
											});
											
										} else {
											//$("input:checkbox[name='row-check']").prop("checked", false);
											table.$('input[type="checkbox"]').each(function(){
											$(this).prop('checked',false);
											});
										}
									});

							// Check event on each table row checkbox
							
							var form=this;
							$(this)
									.on(
											"change",
											function() {
													
												var allCount=0;
												var checkCount=0;
												table.$('input[type="checkbox"]').each(function(){
													allCount++;
													if(this.checked){
														checkCount++;
													}
													});

												console.log("allcount : ",allCount);
												console.log("checkcount : ",checkCount);
												// If all checked manually then check master checkbox
												if (allCount == checkCount) {
													$("#masterCheck").prop("checked", true);
												} else {
													$("#masterCheck").prop("checked", false);
												}
											});
						});
					
					});			
					
					
				} else {			
					$(document).ready(function() {
						var table=$('#list').DataTable({
							"lengthMenu" : [ 3, 5, 7, 9, 10 ],
							stateSave: true
						}).search( '' )
				        .columns().search( '' )
				        .draw();					
					});	
					
						$('.active').removeClass('active');
						$('#medicine_info_register').addClass('active');
						
						$(function() {

							$("#btnDelete").on(
									"click",
									function() {
						      var form = this;

						      // Iterate over all checkboxes in the table
						      table.$('input[type="checkbox"]').each(function(){
						    	  
						         // If checkbox doesn't exist in DOM
						         if(!$.contains(document, this)){
						            // If checkbox is checked
						            
						            if(this.checked){
						               // Create a hidden element 
						               $(form).append(
						                  $('<input>')
						                     .attr('type', 'hidden')
						                     .attr('name', this.name)
						                     .attr('id','hid')
						                     .val(this.value)
						               );
						            }
						         } 
						      });
						    
						      deleteCheck();
						      
						   });
						});
					var count=0;
					$(function() {

						// Header Master Checkbox Event
						$("#masterCheck").on(
								"click",
								function() {
									var form = this;
									
									if ($("input:checkbox").prop("checked")) {
										
										table.$('input[type="checkbox"]').each(function(){
										$(this).prop('checked',true);
										console.log(this);
										});
										
									} else {
										//$("input:checkbox[name='row-check']").prop("checked", false);
										table.$('input[type="checkbox"]').each(function(){
										$(this).prop('checked',false);
										});
									}
								});

						// Check event on each table row checkbox
						
						var form=this;
						$(this)
								.on(
										"change",
										function() {
												
											var allCount=0;
											var checkCount=0;
											table.$('input[type="checkbox"]').each(function(){
												allCount++;
												if(this.checked){
													checkCount++;
												}
												});

											console.log("allcount : ",allCount);
											console.log("checkcount : ",checkCount);
											// If all checked manually then check master checkbox
											if (allCount == checkCount) {
												$("#masterCheck").prop("checked", true);
											} else {
												$("#masterCheck").prop("checked", false);
											}
										});
					});
				
				}
		      
		      
		      
		      
		      
			
	      </script>

</body>
</html>