<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

<div class="row" th:fragment="dateRange">
	<div class="col-lg-12">
		<div class="container">
			<form
				th:action="@{${T(pec.datacode.AdminPageInfo).EXPIRE_DATE_SEARCH.url}}"
				method="post" th:object="${dateRange}">
				<div class="form-group row">
					<div class="col-md-4 mt-5">
						
						<div class="input-group" style="width: 180%;margin-left:550px">
						
						<label for="dateRange" style="white-space: nowrap">Date Range&nbsp;&nbsp;</label>
							<input type="text" class="form-control" id="dateRange"
								autocomplete="off"
								style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc" />
							<div class="input-group-append">
							
								<span class="input-group-text"><i
									class="far fa-calendar-alt"></i></span>
							</div>
							<input type="submit" value="Search" class="btn btn-primary" name="search" style="float:right">
						
						</div>
					</div>
						<input type="hidden" name="dateFrom" th:field="*{dateFrom}" /> 
						<input type="hidden" name="dateTo" th:field="*{dateTo}" />

					</div>

				
			</form>

		</div>

	</div>
</div>

</body>
</html>
